<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Journal</title>
</head>
<body>
    <div class="header">
        <h1>Upcoming Travels</h1>
    </div>
    <div class="body">
        <div class="navbar">
            Navbar works
        </div>
        <div class="bodyContent">
            <div class="card card-shadow">
                <img src="./images/Paris_beetle.jpg" class="cropped-img" />
                <div class="informationContent">
                    This is a card
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        footer works
    </div>
</body>
</html>