<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <title>My Travelbook</title>
</head>
<body>
    <div class="header">
        <h1>Upcoming Travels</h1>
    </div>
    <div class="body">
        <div class="navbar">
            Navbar works
        </div>
        <div class="bodyContent">
            <div class="inputField card card-shadow">
                <form id="newTrip">
                    <label for="destination">Trip will go to:</label>
                    <input type="text" id="destination" name="destination" value="" placeholder="Destination" class="card-shadow">
                    <label for="startDate">Trip will start:</label>
                    <input type="date" id="startDate" name="startDate" class="card-shadow">
                    <label for="endDate">Trip will end:</label>
                    <input type="date" id="endDate" name="endDate" class="card-shadow">
                </form>
                <button id="enterTrip" class="card-shadow">Add Trip</button>
            </div>
            <div class="card contentCard card-shadow">
                <img src="./images/Paris_beetle.jpg" class="cropped-img" />
                <div class="informationContent">
                    <div class="tripHeader">
                        <img src="https://flagcdn.com/w320/pt.png">
                        <h2>Trip to Paris</h2>
                    </div>
                    <div class="time">
                        <h3>Date</h3>
                        <p>10.02.2023 til 17.02.2023</p>
                    </div>
                    <div class="weatherForecast">
                        <h3>Weather Forecast</h3>
                        <p>Mostly funny</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        footer works
    </div>
</body>
</html>