<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Journal</title>
</head>
<body>
    <div class="header">
        <h1>Upcoming Travels</h1>
    </div>
    <div class="body">
        <div class="navbar">
            Navbar works
        </div>
        <div class="bodyContent">
            <div class="card card-shadow">
                <img src="./images/Paris_beetle.jpg" class="cropped-img" />
                <div class="informationContent">
                    <h2>Trip to Paris</h2>
                    <div class="time">
                        <h3>Date</h3>
                        <p>10.02.2023 til 17.02.2023</p>
                    </div>
                    <div class="destinations">
                        <h3>Destination</h3>
                        <p>Montmartre</p>
                        <h3>Destination</h3>
                        <p>Sacre Coeur</p>
                    </div>
                    <div class="weatherForecast">
                        <h3>Weather Forecast</h3>
                        <p>Mostly funny</p>
                    </div>
                    <div class="travelInformation">
                        <h3>Flight Data</h3>
                        <p>Shithansa</p>
                        <h3>Hotel Accomodations</h3>
                        <p>Superior walk in hostel</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        footer works
    </div>
</body>
</html>