h1 {
    text-transform: uppercase;
    font-size: 20pt;
    color: black;
}

textarea {
    font-family: 'Dancing Script', cursive;
    font-size: 1.2em;
    background-color: #333;
    color: #ffe;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Abril Fatface', cursive;
}

body {
    background-color: white;
    padding: 5px;
}

#header {
    margin-bottom: 25px;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 10 px;
    margin: 15px 0;
}

.card {
    background-color: silver;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.cropped-img {
    clip-path: polygon(
        10% 0%,
        60% 0%,
        90% 100%,
        40% 100%,
    );
    border-radius: 5px;
}

.informationContent {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.card-shadow {
    box-shadow: 2px 4px 3px #00000070;
}

@media (min-width:1000px) {
    .body {
        flex-direction: row;
        gap: 50px;
    }
}